.bg-dark {
  background-color: rgb(56, 56, 56);
}

.text-white {
  color: #fff;
}

.text-bold {
  font-weight: bold;
}

.custom-image {
  border-radius: 20px;
  padding: 10px;
  width: calc(100% - 20px);
}

.custom-button button, .custom-button div {
  color: #fff;
  border-color: #fff;
}
